<% provide(:title, "About") %>
    <h1>About</h1>
    <p class="center">
        <b>Hi! If you're a normal person, you're probably asking: What is a Hypercube? </b>
        
        <div class="center">
            <%= image_tag("cube-2-hypercube.jpg", alt: "Picture from Cube 2: Hypercube", width: "50%") %>
            <p>Is it the movie Cube 2: Hypercube?</p>
            <p>In this case, I'm using it in the Doctor Who sense: <b>a system of sending messages between Timelords</b></p>
            <%= image_tag("corsair-hypercube.jpg", alt: "Picture of Timelord Hypercube", width: "50%") %>
            <p>A Hypercube sent by The Corsair</p>
        </div>
        
        Anyway, I put together this site to practice my Ruby on Rails skills, and it's a basic Twitter analogue. If you'd like to learn more about the process, I recommend the Ruby on Rails Tutorial. Learn more at the
        <a href="https://www.railstutorial.org/help">Rails Tutorial Help page</a>.
        To get help on this sample app, see the
        <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
        book</a>.
    </p>