<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div class="center">
    <%= image_tag("profile_pic.jpg", width: "30%") %>

<p><b>Name:</b> Corbett Winningham<span class="tab"></span><b>Phone:</b> 602-321-9618<span class="tab"></span><b>Email:</b> <a href="mailto:corbettbw@gmail.com" target="_blank">corbettbw@gmail.com</a></p>

<p><b>Twitter:</b>  <a href="https://www.twitter.com/@corbett_winn" target="_blank">@corbett_winn</a><span class="tab"></span><b>Linkedin:</b> <a href="https://www.linkedin.com/in/corbettbw1987/" target="_blank">corbettbw1987</a><span class="tab"></span><b>Github:</b> <a href="https://github.com/corbettbw" target="_blank">corbettbw</a><span class="tab"></span><b>Website:</b> <a href="https://www.corbettwinningham.wordpress.com/" target="_blank">www.corbettbw.com</a></p>

</div>